.w-tit-center {
    width: 230px;
    margin-left: 10px;
}
.tit-size {
    font-size: 15px;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}
.w-tit {
    width: 150px;
    margin-top: 10px;
}
.w-tit {
    width: 150px;
    margin-top: 10px;
}